body {
  font-family: 'Roboto', 'Montserrat', sans-serif;
  color: $txt-black-color;
  min-height: 101%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

html {
  transition: color $animation, background-color $animation,
    box-shadow $animation, transform $animation;
  height: 100%;
}

.container {
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;

  @media screen and (min-width: 480px) {
    width: 480px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
    padding: 0 32px;
  }

  @media screen and (min-width: 1280px) {
    width: 1280px;
    padding: 0 32px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
