$txt-white-color: #ffffff;
$txt-black-color: #000000;
$txt-disabled-color: #ababab;
$txt-active-color: #ff6b08;
$txt-current-color: #ff001b;
$txt-secondary-color: #8c8c8c;
$txt-footer-color: #545454;

/* Фонові кольори */
$bg-header-color: #151515c5;
$bg-footer-color: #f7f7f7;
$bg-white-color: #ffffff;
$bg-backdrop-color: rgba(47, 48, 58, 0.6);
$bg-active-color: #ff6b08;
$bg-active-color-alpha: rgba(255, 166, 0, 0.551);
$bg-rating-color: rgba(47, 48, 58, 0.5);

/* OTHER */
$sm: 480px;
$md: 768px;
$lg: 1280px;
$animation: 300ms cubic-bezier(0.4, 0, 0.2, 1);
$btn-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px,
  rgba(255, 108, 0, 0.75) 0px 5px 10px;
$orange-hover: rgb(220, 71, 11);
$card-developers-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
/* OTHER */
