.button-wrapper {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.button-wrapper--library {
  @media screen and (min-width: 768px) {
    gap: 32px;
  }

  @media screen and (min-width: 1280px) {
    gap: 16px;
  }
}

.main-btn {
  display: inline-flex;
  width: 110px;
  height: 44px;

  font-weight: 500;
  font-size: 12px;
  line-height: calc(16 / 12);
  border-radius: 5px;
  border: 1px solid $txt-black-color;
  outline: none;
  background-color: $bg-white-color;

  align-items: center;
  justify-content: center;
  text-transform: uppercase;

  color: $txt-black-color;
  transition: color $animation, background-color $animation,
    box-shadow $animation;

  &:hover,
  &:focus {
    cursor: pointer;
    color: $txt-white-color;
    background-color: $bg-active-color;
    border: transparent;
    box-shadow: $btn-shadow;
  }

  @media screen and (min-width: 768px) {
    width: 125px;
  }

  @media screen and (min-width: 1280px) {
    width: 136px;
  }
}

.main-btn--library {
  width: 130px;
  color: $txt-white-color;
  background-color: transparent;
  border: 1px solid $txt-white-color;

  @media screen and (min-width: 768px) {
    width: 152px;
  }

  @media screen and (min-width: 1280px) {
    width: 148px;
  }

  &:hover,
  &:focus {
    background-color: $bg-active-color;
  }
}

.main-btn--library-active {
  background-color: $bg-active-color;
  border: transparent;
  box-shadow: $btn-shadow;
}

.button-search {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 10px;

  display: inline-flex;
  justify-content: center;
  align-items: center;

  background-color: transparent;
  border: none;
  outline: none;
  border-radius: 8px;

  transition: transform $animation;

  &:hover,
  &:focus {
    transform: scale(1.15);
    cursor: pointer;
  }
}

.btn-search__icon {
  stroke: $txt-white-color;
  fill: transparent;
}

.registration-btn-wrap {
  position: relative;
}

.registration-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-left: 40px;
  width: 140px;
  height: 35px;

  @media screen and (max-width: 768px) {
    width: 100px;
  }

  font-weight: 500;
  font-size: 12px;
  line-height: calc(16 / 12);
  border-radius: 5px;
  border: 1px solid $txt-white-color;
  outline: none;
  background-color: $bg-white-color;

  align-items: center;
  justify-content: center;
  text-transform: uppercase;

  background-color: #0000;
  color: $txt-white-color;
  transition: color $animation, background-color $animation,
    box-shadow $animation;

  &:hover,
  &:focus {
    cursor: pointer;
    color: $txt-white-color;
    background-color: $bg-active-color;
    border: transparent;
    box-shadow: $btn-shadow;
  }
}

.registration-btn-icon {
  fill: $txt-white-color;
  padding: 0;
  margin: 0;
  width: 17;
  height: 17;

  @media screen and (max-width: 768px) {
    display: none;
  }
}

.main-btn--register {
  padding: 10px;
  width: 200px;
  height: 44px;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;

  font-weight: 500;
  font-size: 12px;
  line-height: calc(16 / 12);
  border-radius: 5px;
  border: 1px solid $txt-black-color;
  outline: none;
  background-color: $bg-white-color;
}

.register-modal__btn-icon {
  margin-right: 10px;
}

.filter-list-bnt {
  gap: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 0 15px 0;
}

.movies-section-btn {
  align-items: center;
  justify-content: center;
  width: 140px;
  height: 35px;

  @media screen and (max-width: 768px) {
    width: 100px;
  }

  font-weight: 500;
  font-size: 12px;
  line-height: calc(16 / 12);
  border-radius: 5px;
  border: 1px solid $txt-black-color;
  outline: none;
  background-color: $bg-white-color;

  align-items: center;
  justify-content: center;
  text-transform: uppercase;

  background-color: #0000;
  color: $txt-black-color;
  transition: color $animation, background-color $animation,
    box-shadow $animation;

  &:hover,
  &:focus {
    cursor: pointer;
    color: $txt-white-color;
    background-color: $bg-active-color;
    border: transparent;
    box-shadow: $btn-shadow;
  }
  &:disabled {
    cursor: pointer;
    color: $txt-white-color;
    background-color: $bg-active-color;
    border: transparent;
    box-shadow: $btn-shadow;
  }
}

.dark .movies-section-btn {
  color: $txt-white-color;
  border: 1px solid $txt-white-color;
}

.home-btn {
  align-items: center;
  justify-content: center;
  width: 140px;
  height: 35px;
  padding: 10px 10px;
  // margin: 40px auto 40px auto;
  @media screen and (max-width: 768px) {
    width: 100px;
  }

  font-weight: 500;
  font-size: 12px;
  line-height: calc(16 / 12);
  border-radius: 5px;
  border: 1px solid $txt-black-color;
  outline: none;
  background-color: $bg-white-color;

  align-items: center;
  justify-content: center;
  text-transform: uppercase;

  background-color: #0000;
  color: $txt-black-color;
  transition: color $animation, background-color $animation,
    box-shadow $animation;

  &:hover,
  &:focus {
    cursor: pointer;
    color: $txt-white-color;
    background-color: $bg-active-color;
    border: transparent;
    box-shadow: $btn-shadow;
  }
}
.dark .home-btn {
  color: $txt-white-color;
  border: 1px solid $txt-white-color;
}

.js-btn-remove-queue {
  background-color: $bg-active-color;
}

.js-btn-remove-watched {
  background-color: $bg-active-color;
}

.btn-sign-in {
  display: inline-block;
  width: 200px;
  margin-top: 15px;
}
