.button-wrapper {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.button-library {
    width: 130px;
    height: 44px;
    border: 1px solid $txt-white-color;
    color: $txt-white-color;
    background-color: #0000;
    border-radius: 5px;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.3;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    display: inline-flex;
    transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1),
        background-color 0.25s cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}