.js-pagination,
.js-pagination-library {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 40px;

  @media screen and (min-width: 768px) {
    margin-bottom: 60px;
  }
}
.js-pagination__page,
.js-pagination__page-library {
  display: flex;
  justify-content: center;
  align-items: center;
}
.js-pagination__arrow use {
  fill: $txt-black-color;

  transition: fill $animation, background-color $animation,
    box-shadow $animation;
}

.btn-pagination {
  display: block;
  padding: 0;
  margin: 0;
  width: 25px;
  height: 25px;
  border: none;

  font-family: inherit;
  font-size: 10px;
  font-weight: 500;
  line-height: calc(12 / 10);
  border-radius: 5px;
  color: $txt-black-color;
  background-color: transparent;
  transition: color $animation, background-color $animation,
    box-shadow $animation;

  @media screen and (min-width: 400px) {
    width: 40px;
    height: 40px;
    font-size: 12px;
    line-height: calc(16 / 12);
  }

  &:hover,
  &:focus {
    cursor: pointer;
    color: $txt-white-color;
    background-color: $bg-active-color;
    border: transparent;
    box-shadow: $btn-shadow;
  }
}
.dark .btn-pagination {
  color: $txt-white-color;
  @media screen and (min-width: 400px) {
    width: 40px;
    height: 40px;
    font-size: 12px;
    line-height: calc(16 / 12);
  }
}
.btn-incremention {
  display: block;
  padding: 0;
  margin: 0;
  width: 25px;
  height: 25px;
  border: none;

  font-family: inherit;
  font-size: 10px;
  font-weight: 500;
  line-height: calc(12 / 10);
  border-radius: 5px;
  fill: $txt-black-color;
  background-color: $bg-footer-color;
  cursor: pointer;
  transition: fill $animation, background-color $animation,
    box-shadow $animation;

  @media screen and (min-width: 400px) {
    width: 40px;
    height: 40px;
    font-size: 12px;
    line-height: calc(16 / 12);
  }

  &:hover,
  &:focus {
    fill: $txt-white-color;
    background-color: $bg-active-color;
    border: transparent;
    box-shadow: $btn-shadow;
  }
}

.btn--ten {
  display: none;
  @media screen and (min-width: 768px) {
    display: block;
    width: 40px;
    height: 40px;
    padding: 0;
    margin: 0;
    border: none;
    border-radius: 5px;
    background-color: transparent;
    transition: background-color $animation, box-shadow $animation;
    &:hover,
    &:focus {
      cursor: pointer;
      background-color: $bg-active-color;
      border: transparent;
      box-shadow: $btn-shadow;
    }
  }
}
.dark .btn--ten {
  color: $txt-white-color;
  @media screen and (min-width: 768px) {
    width: 40px;
    height: 40px;
    font-size: 12px;
    line-height: calc(16 / 12);
  }
}
.btn-active {
  color: $txt-white-color;
  background-color: $bg-active-color;
}
