.footer {
  background-color: $bg-footer-color;
  &__icon {
    stroke: $txt-active-color;
    fill: $txt-active-color;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }
  &__btn {
    display: inline-block;
    border: none;
    background: transparent;
    text-decoration: underline;
    cursor: pointer;
    color: $txt-footer-color;
  }
}
.footer__btn {
  transition: $animation;

  &:hover,
  &:focus {
    color: $orange-hover;
  }
}
.wraper {
  text-align: center;
  padding-top: 29px;
  padding-bottom: 28px;

  color: $txt-footer-color;
  font-family: 'Roboto';
  font-size: 14px;
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 16px;
    line-height: 1.19;
  }
}
.copyrights {
  margin-bottom: 10px;
}

.footer__icon {
  animation: heartbeat 1250ms cubic-bezier(0.25, 0.1, 0.25, 1) infinite;
}

@keyframes heartbeat {
  0% {
    transform: scale(1);
  }

  10% {
    transform: scale(1.4);
  }

  50% {
    transform: scale(1);
  }

  100% {
    transform: scale(1);
  }
}

.dark .footer {
  background-color: #1e2329;
}
