// .backdrop {
//   position: fixed;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   background: $header-bgc;
// }

// .disable-scroll {
//   position: relative;
//   overflow: hidden;
//   height: 100vh;
//   position: fixed;
//   left: 0;
//   top: 0;
//   width: 100%;
// }

// .backdrop.is-hidden .modal-students {
//   transform: perspective(250px) translate(-50%, -100%) scale(1);
// }

// .is-hidden {
//   opacity: 0;
//   visibility: hidden;
//   pointer-events: none;
//   transition: all 350ms ease 0s;
// }

// .title-box {
//   width: auto;
//   position: sticky;
//   top: -1px;

//   z-index: 6;

//   margin: 0;
//   height: 70px;

//   border-bottom: 1px solid $orange-text;
//   box-shadow: 0px 2px 2px $orange-text;

//   background: $main-bgc;
//   text-align: center;
//   justify-content: center;
//   align-items: center;

//   display: flex;
// }

.modal-students {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
  height: auto;
  background: $bg-white-color;

  border-radius: 10px;

  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086);

  transition: all 350ms ease 0s;

  @media screen and (max-width: 479px) {
    width: 70%;
    height: 650px;
    overflow-y: scroll;
  }

  @media screen and (min-width: 480px) {
    width: 75%;
    height: 650px;
    overflow-y: scroll;
  }

  @media screen and (min-width: 1280px) {
    max-height: 750px;
    width: 80%;
  }
}
