.header-library {
  
  padding-top: 40px;
  padding-bottom: 44px;
  margin-left: auto;
  margin-right: auto;
  height: 230px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  background-image: url(../images/header-library/LibraryMobile320@1x.png);

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../images/header-library/LibraryMobile320@2x.png);
  }

  // Tablet
  @media screen and (min-width: 768px) {
    background-image: url(../images/header-library/LibraryTablet768@1x.png);
    
    height: 216px;

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/header-library/LibraryTablet768@2x.png);
      
    }
  }

  // DeskTop
  @media screen and (min-width: 1280px) {
    background-image: url(../images/header-library/LibraryDesktop1280@1x.png);
    
    height: 216px;

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/header-library/LibraryDesktop1280@2x.png);
      
    }
  }
}

.logo {
display: none;

    transition: color $animation;
  

    @media screen and (min-width: 768px) {
        display: inline-block;
        font-weight: 500;
        font-size: 30px;
        line-height: 1.2;

        color: $txt-white-color;

        &:hover {
            animation: animeLogo 1s ease 0s 1 normal forwards;
          }
    }
    
}

@keyframes animeLogo {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.1);
  }
  
}
.nav {
  margin-bottom: 54px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.nav__list {
  margin-left: auto;

  display: flex;
  align-items: center;
  justify-content: center;
}

.nav__item {
  text-align: center;
  position: relative;

  &:not(:last-child) {
    margin-right: 40px;
  }
}

.nav__title {
  color: $txt-white-color;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.2;
  text-transform: uppercase;
  padding: 10px 0;
}

.nav__title--current {
    &::after {
        position: absolute;
        bottom: -5px;
        left: 0;

        content: '';
        display: block;
        width: 100%;
        height: 3px;

        background-color: $txt-current-color;
    }
}

