// .filmoteka {
// }

.films {
  padding: 20px 0;

  @media screen and (min-width: 768px) {
    padding: 60px 0;
  }
}

.films__list {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
  }

  @media screen and (min-width: 1280px) {
    gap: 16px;
  }
}

.films__item {
  padding: 5px;
  border-radius: 10px;
  width: 100%;

  &:not(:last-child) {
    @media screen and (max-width: 767px) {
      margin-bottom: 20px;
    }
  }

  @media screen and (min-width: 768px) {
    width: 336px;
  }

  @media screen and (min-width: 1280px) {
    width: 394px;
  }

  transition: transform $animation;
  &:hover,
  &:focus {
    cursor: pointer;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
      rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    transform: scale(1.03);
  }
}

.films__img-wrapper {
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

// .films__img {
//   position: relative;
// }

.films__info {
  padding-top: 10px;
  overflow: hidden;
}

.films__name {
  width: 100%;
  font-weight: 500;
  font-size: 18px;
  line-height: calc(22 / 18);
  text-transform: uppercase;

  color: $txt-black-color;
}

.films__desk {
  font-weight: 500;
  font-size: 12px;
  line-height: calc(16 / 12);

  color: $txt-active-color;
}

// .films__genre {
// }
// .films__year {
// }
.films__rating {
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
}

.films__rating--text {
  color: $bg-white-color;
  // color: $bg-active-color;
  font-weight: 700;
  font-size: 18px;
}

.films__error-img {
  width: 200px;
  margin: auto;
  padding: 30px 0 30px 0;
  @media screen and (min-width: 768px) {
    width: 300px;
    padding: 50px 0 50px 0;
  }

  @media screen and (min-width: 1280px) {
    width: 400px;
    padding: 100px 0 100px 0;
  }
}
.rating {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;

  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  text-align: center;

  height: 35px;
  background-color: $bg-rating-color;
  border-radius: 10px;
}

.films__error {
  width: 200px;
  margin: auto;
  padding: 30px 0 30px 0;

  @media screen and (min-width: 768px) {
    width: 400px;
    padding: 50px 0 100px 0;
  }

  @media screen and (min-width: 1280px) {
    width: 600px;
    padding: 100px 0 100px 0;
  }
}

.films__not-correct-notification {
  display: none;

  align-items: center;
  padding: 10px 10px 10px 10px;
  position: absolute;
  overflow: hidden;

  font-size: 17px;

  width: 270px;
  height: 60px;
  background-color: $orange-hover;
  border-radius: 10px;

  &-show {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    animation: warning 600ms ease-in-out forwards;
    display: flex;
    text-align: center;
    justify-content: center;

    @media screen and (min-width: 768px) {
      top: 67%;
      left: 50%;
      transform: translate(-50%, -67%);
      width: 500px;
      height: 50px;
      padding: 8px;
      font-size: 18px;
    }
  }
}

.films__no-movies-notification {
  display: none;

  align-items: center;
  padding: 10px 10px 10px 10px;
  position: absolute;
  overflow: hidden;

  font-size: 17px;

  width: 270px;
  height: 57px;
  background-color: $orange-hover;
  border-radius: 10px;

  &-show {
    top: 47%;
    left: 50%;
    transform: translate(-50%, -47%);

    animation: warning 600ms ease-in-out forwards;
    display: flex;
    text-align: center;
    justify-content: center;

    @media screen and (min-width: 768px) {
      top: 72%;
      left: 50%;
      transform: translate(-50%, -72%);
      width: 500px;
      padding: 8px;
      font-size: 18px;
    }
  }
}

@keyframes warning {
  0% {
    opacity: 0;
    top: 0;
  }
  5% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    top: 200px;
  }
}
