// Button close style

iframe {
  width: 320px;
  height: 180px;

  @media screen and (min-width: 480px) {
    width: 380px;
    height: 215px;
  }
  @media screen and (min-width: 768px) {
    width: 560px;
    height: 315px;
  }

  @media screen and (min-width: 1280px) {
    width: 700px;
    height: 395px;
  }
}

.btn-close {
  width: 30px;
  height: 30px;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
  border: rgba(0, 0, 0, 0);
  outline: rgba(0, 0, 0, 0);
  justify-content: center;
  align-items: center;
  padding: 0;
  transition: fill 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  position: absolute;
  top: 8px;
  right: 8px;
}

.btn-close:hover,
.btn-close:focus {
  fill: #ff6b01;
}

/**
  |============================
  | Modal window for movie
  |============================
*/

.movie-modal {
  position: relative;

  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 38px;

  width: 100%;
  min-height: 800px;
  display: flex;
  flex-direction: column;

  background-color: rgba(255, 255, 255, 0.83);

  @media screen and (min-width: 480px) {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 40px 36px;
    // padding-left: 32px;
    // padding-right: 32px;
    // padding-top: 219px;
    transform: translate(-50%, -50%) scale(1);
    transform-origin: center;
    width: 75%;
    min-height: 580px;

    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  @media screen and (min-width: 768px) {
    width: 704px;
    min-height: 470px;
    padding: 40px 72px 40px 36px;
  }

  @media screen and (min-width: 1280px) {
    width: 806px;
    min-height: 560px;
    padding: 40px 12px;
  }
}

.wrap-disc {
  max-width: 240px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 768px) {
    max-width: 100%;
    display: flex;
    align-items: flex-start;
  }
}

.modal-poster {
  display: block;
  max-width: 100%;
  margin-bottom: 20px;
  border-radius: 5px;

  @media screen and (min-width: 768px) {
    width: 264px;
    margin-right: 68px;
    margin-bottom: 0;
  }

  @media screen and (min-width: 1280px) {
    width: 310px;
    margin-right: 16px;
  }
}

.modal-movie-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  text-transform: uppercase;
  margin-bottom: 20px;

  @media screen and (min-width: 1280px) {
    font-size: 30px;
    line-height: 35px;
  }
}

.wrap-flex {
  display: flex;
  align-items: baseline;
}

.wrap-flex + .wrap-flex {
  margin-top: 8px;
}

.movie-label {
  font-size: 12px;
  line-height: 16px;
  color: #8c8c8c;

  min-width: 70px;
  margin-right: 40px;

  @media screen and (min-width: 1280px) {
    margin-right: 70px;
  }
}

.movie-disc {
  font-size: 12px;
  line-height: 14px;
}

.accent-detail {
  &__orange {
    display: flex;
    justify-content: center;
    align-items: center;

    color: #ffffff;
    border-radius: 5px;
    width: 36px;
    height: 16px;
    background-color: #ff6b01;
  }

  &__gray {
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;

    // color: #ffffff;
    border-radius: 5px;
    width: 36px;
    height: 16px;
    background-color: #f7f7f7;
  }
}

.disc-wrap {
  display: flex;
  align-items: center;
}

.disc-space {
  margin: 0 3px;
  line-height: 16px;
  color: #8c8c8c;
}

.movie-disc-title {
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
}

.movie-disc-genres {
  font-size: 12px;
  line-height: 16px;
}

.disc-title {
  margin-top: 20px;

  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
}

.disc-text {
  margin: 8px 0 20px;
  font-size: 12px;
  line-height: 20px;
}

.button-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;

  @media screen and (min-width: 480px) {
    width: 265px;
    justify-content: center;
  }

  @media screen and (min-width: 1280px) {
    width: 100%;
    justify-content: center;
    // padding-left: 8px;
  }
}

.modal__button-play {
  cursor: pointer;
  display: flex;
  border: 2px;
  background: none;
  border-color: #ff6b01;
  justify-content: center;
  margin-top: 20px;
  box-shadow: 0px 0px 2px 2px #f27a09cc;
  transition: background-color $animation, box-shadow $animation;
}

.modal__img-play {
  width: 200px;
  height: auto;
}

.modal__button-play:hover {
  background: radial-gradient(#f27a09cc 100%, #fff 62%);
  border: 2px #ff6b01;
  box-shadow: 0px 0px 1px 4px #f27a09cc;
}

.modal__button-play:active {
  box-shadow: 2px 2px 5px #fc894d;
}

.trailer__iframe {
  width: 90%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;

  @media screen and (min-width: 480px) {
    width: 700px;
    height: 470px;
  }

  @media screen and (min-width: 1200px) {
    width: 815px;
    height: 550px;
  }
}

.trailer__backdrop {
  z-index: 10;
}

.modal-btn {
  display: inline-block;
  padding: 0 10px;
  margin: 0;

  border: 1px solid #000000;
  border-radius: 5px;
  width: 110px;
  height: 44px;
  background-color: transparent;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  transition: color $animation, background-color $animation,
    box-shadow $animation;
  cursor: pointer;

  @media screen and (min-width: 768px) {
    width: 125px;
  }

  @media screen and (min-width: 1280px) {
    width: 136px;
  }

  &:hover,
  &:focus,
  &:active {
    background-color: #ff6b01;
    color: #ffffff;
    border: transparent;
  }

  &:disabled {
    background-color: $txt-disabled-color;
    color: $txt-black-color;
    border: transparent;
    cursor: default;
  }
}

.btn-queue {
  @media screen and (min-width: 480px) {
    margin-left: 15px;
  }
}

.active-btn {
  background-color: #ff6b01;
  color: #ffffff;
  border: transparent;
}
