<div class="backdrop is-hidden">
  <div class="modal-developers">
    <!-- <button type="button" class="iframe-close is-hidden">
      <svg width="30" height="30">
        <use href="./images/sprite/icons.svg#icon-close"></use>
      </svg>
    </button> -->

    <div class="title-box">
      <button type="button" class="modal-devop-close" data-modal-close>
        <svg class="button-close__icon" width="30" height="30">
          <use href="./images/sprite/icons.svg#icon-close"></use>
        </svg>
      </button>
      <h2 class="modal-team__title">
        назва команди
        <svg class="footer__icon" width="30" height="30">
          <use href="./images/sprite/footer-heart.svg#footer-heart"></use>
        </svg>
      </h2>
    </div>

    <ul class="card-team__list">
      <li class="card-team__item">
        <picture>
          <source
            srcset="./images/developers/Picsart_23.jpg 1x
              ./images/developers/Picsart_23.jpg 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/developers/Picsart_23.jpg 1x,
              ./images/developers/Picsart_23.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/developers/Picsart_23.jpg 1x,
              ./images/developers/Picsart_23.jpg 2x
            "
            media="(min-width: 480px)"
          />
          <img
            class="card-team__img"
            src="./images/developers/Picsart_23.jpg"
            alt="students photo"
            width="200"
            loading="lazy"
          />
        </picture>

        <div class="card-team__wrap">
          <h3 class="card-member__name">Maksym Koval</h3>
          <p class="card-member__role">Team Leader</p>
          <p class="card-member__text">які завдання були закріплені</p>

          <ul class="social-list">
            <li class="social-list__item">
              <a target="_blank" href="#">
                <svg class="social-list__icon" width="20" height="20">
                  <use href="./images/sprite/icons.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
            <li class="social-list__item">
              <a target="_blank" href="#"
                ><svg class="social-list__icon" width="20" height="20">
                  <use href="./images/sprite/icons.svg#icon-github"></use></svg
              ></a>
            </li>
            <li class="social-list__item">
              <a data-href="#"
                ><svg
                  class="social-list__icon iframe-element"
                  width="20"
                  height="20"
                >
                  <use href="./images/sprite/icons.svg#icon-mail"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="card-team__item">
        <picture>
          <source
            srcset="./images/developers/Picsart_23.jpg 1x
              ./images/developers/Picsart_23.jpg 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/developers/Picsart_23.jpg 1x,
              ./images/developers/Picsart_23.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/developers/Picsart_23.jpg 1x,
              ./images/developers/Picsart_23.jpg 2x
            "
            media="(min-width: 480px)"
          />
          <img
            class="card-team__img"
            src="./images/developers/Picsart_23.jpg"
            alt="students photo"
            width="200"
            loading="lazy"
          />
        </picture>

        <div class="card-team__wrap">
          <h3 class="card-member__name">Maksym Koval</h3>
          <p class="card-member__role">Team Leader</p>
          <p class="card-member__text">які завдання були закріплені</p>

          <ul class="social-list">
            <li class="social-list__item">
              <a target="_blank" href="#">
                <svg class="social-list__icon" width="20" height="20">
                  <use href="./images/sprite/icons.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
            <li class="social-list__item">
              <a target="_blank" href="#"
                ><svg class="social-list__icon" width="20" height="20">
                  <use href="./images/sprite/icons.svg#icon-github"></use></svg
              ></a>
            </li>
            <li class="social-list__item">
              <a data-href="#"
                ><svg
                  class="social-list__icon iframe-element"
                  width="20"
                  height="20"
                >
                  <use href="./images/sprite/icons.svg#icon-mail"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="card-team__item">
        <picture>
          <source
            srcset="./images/developers/Picsart_23.jpg 1x
              ./images/developers/Picsart_23.jpg 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/developers/Picsart_23.jpg 1x,
              ./images/developers/Picsart_23.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/developers/Picsart_23.jpg 1x,
              ./images/developers/Picsart_23.jpg 2x
            "
            media="(min-width: 480px)"
          />
          <img
            class="card-team__img"
            src="./images/developers/Picsart_23.jpg"
            alt="students photo"
            width="200"
            loading="lazy"
          />
        </picture>

        <div class="card-team__wrap">
          <h3 class="card-member__name">Maksym Koval</h3>
          <p class="card-member__role">Team Leader</p>
          <p class="card-member__text">які завдання були закріплені</p>

          <ul class="social-list">
            <li class="social-list__item">
              <a target="_blank" href="#">
                <svg class="social-list__icon" width="20" height="20">
                  <use href="./images/sprite/icons.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
            <li class="social-list__item">
              <a target="_blank" href="#"
                ><svg class="social-list__icon" width="20" height="20">
                  <use href="./images/sprite/icons.svg#icon-github"></use></svg
              ></a>
            </li>
            <li class="social-list__item">
              <a data-href="#"
                ><svg
                  class="social-list__icon iframe-element"
                  width="20"
                  height="20"
                >
                  <use href="./images/sprite/icons.svg#icon-mail"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="card-team__item">
        <picture>
          <source
            srcset="./images/developers/Picsart_23.jpg 1x
              ./images/developers/Picsart_23.jpg 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/developers/Picsart_23.jpg 1x,
              ./images/developers/Picsart_23.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/developers/Picsart_23.jpg 1x,
              ./images/developers/Picsart_23.jpg 2x
            "
            media="(min-width: 480px)"
          />
          <img
            class="card-team__img"
            src="./images/developers/Picsart_23.jpg"
            alt="students photo"
            width="200"
            loading="lazy"
          />
        </picture>

        <div class="card-team__wrap">
          <h3 class="card-member__name">Maksym Koval</h3>
          <p class="card-member__role">Team Leader</p>
          <p class="card-member__text">які завдання були закріплені</p>

          <ul class="social-list">
            <li class="social-list__item">
              <a target="_blank" href="#">
                <svg class="social-list__icon" width="20" height="20">
                  <use href="./images/sprite/icons.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
            <li class="social-list__item">
              <a target="_blank" href="#"
                ><svg class="social-list__icon" width="20" height="20">
                  <use href="./images/sprite/icons.svg#icon-github"></use></svg
              ></a>
            </li>
            <li class="social-list__item">
              <a data-href="#"
                ><svg
                  class="social-list__icon iframe-element"
                  width="20"
                  height="20"
                >
                  <use href="./images/sprite/icons.svg#icon-mail"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="card-team__item">
        <picture>
          <source
            srcset="./images/developers/Picsart_23.jpg 1x
              ./images/developers/Picsart_23.jpg 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/developers/Picsart_23.jpg 1x,
              ./images/developers/Picsart_23.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/developers/Picsart_23.jpg 1x,
              ./images/developers/Picsart_23.jpg 2x
            "
            media="(min-width: 480px)"
          />
          <img
            class="card-team__img"
            src="./images/developers/Picsart_23.jpg"
            alt="students photo"
            width="200"
            loading="lazy"
          />
        </picture>

        <div class="card-team__wrap">
          <h3 class="card-member__name">Maksym Koval</h3>
          <p class="card-member__role">Team Leader</p>
          <p class="card-member__text">які завдання були закріплені</p>

          <ul class="social-list">
            <li class="social-list__item">
              <a target="_blank" href="#">
                <svg class="social-list__icon" width="20" height="20">
                  <use href="./images/sprite/icons.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
            <li class="social-list__item">
              <a target="_blank" href="#"
                ><svg class="social-list__icon" width="20" height="20">
                  <use href="./images/sprite/icons.svg#icon-github"></use></svg
              ></a>
            </li>
            <li class="social-list__item">
              <a data-href="#"
                ><svg
                  class="social-list__icon iframe-element"
                  width="20"
                  height="20"
                >
                  <use href="./images/sprite/icons.svg#icon-mail"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="card-team__item">
        <picture>
          <source
            srcset="./images/developers/Picsart_23.jpg 1x
              ./images/developers/Picsart_23.jpg 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/developers/Picsart_23.jpg 1x,
              ./images/developers/Picsart_23.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/developers/Picsart_23.jpg 1x,
              ./images/developers/Picsart_23.jpg 2x
            "
            media="(min-width: 480px)"
          />
          <img
            class="card-team__img"
            src="./images/developers/Picsart_23.jpg"
            alt="students photo"
            width="200"
            loading="lazy"
          />
        </picture>

        <div class="card-team__wrap">
          <h3 class="card-member__name">Maksym Koval</h3>
          <p class="card-member__role">Team Leader</p>
          <p class="card-member__text">які завдання були закріплені</p>

          <ul class="social-list">
            <li class="social-list__item">
              <a target="_blank" href="#">
                <svg class="social-list__icon" width="20" height="20">
                  <use href="./images/sprite/icons.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
            <li class="social-list__item">
              <a target="_blank" href="#"
                ><svg class="social-list__icon" width="20" height="20">
                  <use href="./images/sprite/icons.svg#icon-github"></use></svg
              ></a>
            </li>
            <li class="social-list__item">
              <a data-href="#"
                ><svg
                  class="social-list__icon iframe-element"
                  width="20"
                  height="20"
                >
                  <use href="./images/sprite/icons.svg#icon-mail"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="card-team__item">
        <picture>
          <source
            srcset="./images/developers/Picsart_23.jpg 1x
              ./images/developers/Picsart_23.jpg 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/developers/Picsart_23.jpg 1x,
              ./images/developers/Picsart_23.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/developers/Picsart_23.jpg 1x,
              ./images/developers/Picsart_23.jpg 2x
            "
            media="(min-width: 480px)"
          />
          <img
            class="card-team__img"
            src="./images/developers/Picsart_23.jpg"
            alt="students photo"
            width="200"
            loading="lazy"
          />
        </picture>

        <div class="card-team__wrap">
          <h3 class="card-member__name">Maksym Koval</h3>
          <p class="card-member__role">Team Leader</p>
          <p class="card-member__text">які завдання були закріплені</p>

          <ul class="social-list">
            <li class="social-list__item">
              <a target="_blank" href="#">
                <svg class="social-list__icon" width="20" height="20">
                  <use href="./images/sprite/icons.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
            <li class="social-list__item">
              <a target="_blank" href="#"
                ><svg class="social-list__icon" width="20" height="20">
                  <use href="./images/sprite/icons.svg#icon-github"></use></svg
              ></a>
            </li>
            <li class="social-list__item">
              <a data-href="#"
                ><svg
                  class="social-list__icon iframe-element"
                  width="20"
                  height="20"
                >
                  <use href="./images/sprite/icons.svg#icon-mail"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="card-team__item">
        <picture>
          <source
            srcset="./images/developers/Picsart_23.jpg 1x
              ./images/developers/Picsart_23.jpg 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/developers/Picsart_23.jpg 1x,
              ./images/developers/Picsart_23.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/developers/Picsart_23.jpg 1x,
              ./images/developers/Picsart_23.jpg 2x
            "
            media="(min-width: 480px)"
          />
          <img
            class="card-team__img"
            src="./images/developers/Picsart_23.jpg"
            alt="students photo"
            width="200"
            loading="lazy"
          />
        </picture>

        <div class="card-team__wrap">
          <h3 class="card-member__name">Maksym Koval</h3>
          <p class="card-member__role">Team Leader</p>
          <p class="card-member__text">які завдання були закріплені</p>

          <ul class="social-list">
            <li class="social-list__item">
              <a target="_blank" href="#">
                <svg class="social-list__icon" width="20" height="20">
                  <use href="./images/sprite/icons.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
            <li class="social-list__item">
              <a target="_blank" href="#"
                ><svg class="social-list__icon" width="20" height="20">
                  <use href="./images/sprite/icons.svg#icon-github"></use></svg
              ></a>
            </li>
            <li class="social-list__item">
              <a data-href="#"
                ><svg
                  class="social-list__icon iframe-element"
                  width="20"
                  height="20"
                >
                  <use href="./images/sprite/icons.svg#icon-mail"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="card-team__item">
        <picture>
          <source
            srcset="./images/developers/Picsart_23.jpg 1x
              ./images/developers/Picsart_23.jpg 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/developers/Picsart_23.jpg 1x,
              ./images/developers/Picsart_23.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/developers/Picsart_23.jpg 1x,
              ./images/developers/Picsart_23.jpg 2x
            "
            media="(min-width: 480px)"
          />
          <img
            class="card-team__img"
            src="./images/developers/Picsart_23.jpg"
            alt="students photo"
            width="200"
            loading="lazy"
          />
        </picture>

        <div class="card-team__wrap">
          <h3 class="card-member__name">Maksym Koval</h3>
          <p class="card-member__role">Team Leader</p>
          <p class="card-member__text">які завдання були закріплені</p>

          <ul class="social-list">
            <li class="social-list__item">
              <a target="_blank" href="#">
                <svg class="social-list__icon" width="20" height="20">
                  <use href="./images/sprite/icons.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
            <li class="social-list__item">
              <a target="_blank" href="#"
                ><svg class="social-list__icon" width="20" height="20">
                  <use href="./images/sprite/icons.svg#icon-github"></use></svg
              ></a>
            </li>
            <li class="social-list__item">
              <a data-href="#"
                ><svg
                  class="social-list__icon iframe-element"
                  width="20"
                  height="20"
                >
                  <use href="./images/sprite/icons.svg#icon-mail"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>

  <!-- <div class="students-movie__iframe is-hidden">
      <div class="iframe-backdrop"></div>
    </div>-->
</div>
