<div class="backdrop-footer is-hidden">
  <div class="modal-developers">
    <div class="title-box">
      <button type="button" class="modal-devop-close" data-modal-close-team>
        <svg class="button-close__icon" width="30" height="30">
          <use href="./images/sprite/icons.svg#icon-close"></use>
        </svg>
      </button>
      <h2 class="modal-team__title">
        назва команди
        <svg class="footer-icon__modal" width="30" height="30">
          <use href="./images/sprite/icons.svg#footer-heart"></use>
        </svg>
      </h2>
    </div>

    <ul class="card-team__list">
      <li class="card-team__item">
        <picture>
          <source
            srcset="
              ./images/developers/MaksymKoval/MaksymKoval-des.jpg    1x,
              ./images/developers/MaksymKoval/MaksymKoval-des-2x.jpg 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/developers/MaksymKoval/MaksymKoval_768.jpg    1x,
              ./images/developers/MaksymKoval/MaksymKoval_768@2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/developers/MaksymKoval/MaksymKoval_480.jpg    1x,
              ./images/developers/MaksymKoval/MaksymKoval_480@2x.jpg 2x
            "
            media="(min-width: 480px)"
          />
          <img
            class="card-team__img"
            src="./images/developers/MaksymKoval/MaksymKoval_480.jpg"
            alt="developer photo"
            loading="lazy"
          />
        </picture>

        <div class="card-team__wrap">
          <h3 class="card-member__name">Maksym Koval</h3>
          <p class="card-member__role">Team Leader</p>
          <p class="card-member__text">які завдання були закріплені</p>

          <ul class="social-list">
            <li class="social-list__item">
              <a
                target="_blank"
                href="https://www.linkedin.com/in/koval-maxim/"
              >
                <svg class="social-list__icon" width="20" height="20">
                  <use href="./images/sprite/icons.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
            <li class="social-list__item">
              <a target="_blank" href="https://github.com/KovalMaxim1989"
                ><svg class="social-list__icon" width="20" height="20">
                  <use href="./images/sprite/icons.svg#icon-github"></use></svg
              ></a>
            </li>
            <li class="social-list__item">
              <a target="_blank" href="#"
                ><svg class="social-list__icon" width="20" height="20">
                  <use href="./images/sprite/icons.svg#icon-mail"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="card-team__item">
        <picture>
          <source
            srcset="
              ./images/developers/OleksandrSiryi/OleksandrSiryi_1200.jpg    1x,
              ./images/developers/OleksandrSiryi/OleksandrSiryi_1200@2x.jpg 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/developers/OleksandrSiryi/OleksandrSiryi_768.jpg    1x,
              ./images/developers/OleksandrSiryi/OleksandrSiryi_768@2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/developers/OleksandrSiryi/OleksandrSiryi_480.jpg    1x,
              ./images/developers/OleksandrSiryi/OleksandrSiryi_480@2x.jpg 2x
            "
            media="(min-width: 480px)"
          />
          <img
            class="card-team__img"
            src="./images/developers/OleksandrSiryi/OleksandrSiryi_480.jpg"
            alt="developer photo"
            loading="lazy"
          />
        </picture>

        <div class="card-team__wrap">
          <h3 class="card-member__name">Oleksandr Siryi</h3>
          <p class="card-member__role">Tech Leader</p>
          <p class="card-member__text">які завдання були закріплені</p>

          <ul class="social-list">
            <li class="social-list__item">
              <a
                target="_blank"
                href="https://www.linkedin.com/in/oleksandr-siryi/"
              >
                <svg class="social-list__icon" width="20" height="20">
                  <use href="./images/sprite/icons.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
            <li class="social-list__item">
              <a target="_blank" href="https://github.com/Siryi-Oleksandr"
                ><svg class="social-list__icon" width="20" height="20">
                  <use href="./images/sprite/icons.svg#icon-github"></use></svg
              ></a>
            </li>
            <li class="social-list__item">
              <a target="_blank" href="#"
                ><svg class="social-list__icon" width="20" height="20">
                  <use href="./images/sprite/icons.svg#icon-mail"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="card-team__item">
        <picture>
          <source
            srcset="
              ./images/developers/AnatoliyKobzar/AnatoliyKobzar_1200.jpg    1x,
              ./images/developers/AnatoliyKobzar/AnatoliyKobzar_1200@2x.jpg 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/developers/AnatoliyKobzar/AnatoliyKobzar_768.jpg    1x,
              ./images/developers/AnatoliyKobzar/AnatoliyKobzar_768@2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/developers/AnatoliyKobzar/AnatoliyKobzar_480.jpg    1x,
              ./images/developers/AnatoliyKobzar/AnatoliyKobzar_480@2x.jpg 2x
            "
            media="(min-width: 480px)"
          />
          <img
            class="card-team__img"
            src="./images/developers/AnatoliyKobzar/AnatoliyKobzar_480.jpg"
            alt="developer photo"
            loading="lazy"
          />
        </picture>

        <div class="card-team__wrap">
          <h3 class="card-member__name">Anatoliy Kobzar</h3>
          <p class="card-member__role">Developer</p>
          <p class="card-member__text">які завдання були закріплені</p>

          <ul class="social-list">
            <li class="social-list__item">
              <a target="_blank" href="#">
                <svg class="social-list__icon" width="20" height="20">
                  <use href="./images/sprite/icons.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
            <li class="social-list__item">
              <a target="_blank" href="#"
                ><svg class="social-list__icon" width="20" height="20">
                  <use href="./images/sprite/icons.svg#icon-github"></use></svg
              ></a>
            </li>
            <li class="social-list__item">
              <a target="_blank" href="#"
                ><svg class="social-list__icon" width="20" height="20">
                  <use href="./images/sprite/icons.svg#icon-mail"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="card-team__item">
        <picture>
          <source
            srcset="
              ./images/developers/SergiyTkachenko/sergiytkachenko_1200.jpg    1x,
              ./images/developers/SergiyTkachenko/sergiytkachenko_1200@2x.jpg 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/developers/SergiyTkachenko/sergiytkachenko_768.jpg    1x,
              ./images/developers/SergiyTkachenko/sergiytkachenko_768@2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/developers/SergiyTkachenko/sergiytkachenko_480.jpg    1x,
              ./images/developers/SergiyTkachenko/sergiytkachenko_480@2x.jpg 2x
            "
            media="(min-width: 480px)"
          />
          <img
            class="card-team__img"
            src="./images/developers/SergiyTkachenko/sergiytkachenko_480.jpg"
            alt="developer photo"
            width="200"
            loading="lazy"
          />
        </picture>

        <div class="card-team__wrap">
          <h3 class="card-member__name">Sergiy Tkachenko</h3>
          <p class="card-member__role">Developer</p>
          <p class="card-member__text">які завдання були закріплені</p>

          <ul class="social-list">
            <li class="social-list__item">
              <a target="_blank" href="#">
                <svg class="social-list__icon" width="20" height="20">
                  <use href="./images/sprite/icons.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
            <li class="social-list__item">
              <a target="_blank" href="#"
                ><svg class="social-list__icon" width="20" height="20">
                  <use href="./images/sprite/icons.svg#icon-github"></use></svg
              ></a>
            </li>
            <li class="social-list__item">
              <a target="_blank" href="#"
                ><svg class="social-list__icon" width="20" height="20">
                  <use href="./images/sprite/icons.svg#icon-mail"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="card-team__item">
        <picture>
          <source
            srcset="
              ./images/developers/PavloBerkut/PavloBerkut_1200.jpg    1x,
              ./images/developers/PavloBerkut/PavloBerkut_1200@2x.jpg 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/developers/PavloBerkut/PavloBerkut_768.jpg    1x,
              ./images/developers/PavloBerkut/PavloBerkut_768@2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/developers/PavloBerkut/PavloBerkut_480.jpg    1x,
              ./images/developers/PavloBerkut/PavloBerkut_480@2x.jpg 2x
            "
            media="(min-width: 480px)"
          />
          <img
            class="card-team__img"
            src="./images/developers/PavloBerkut/PavloBerkut_480.jpg"
            alt="developer photo"
            loading="lazy"
          />
        </picture>

        <div class="card-team__wrap">
          <h3 class="card-member__name">Pavlo Berkut</h3>
          <p class="card-member__role">Developer</p>
          <p class="card-member__text">які завдання були закріплені</p>

          <ul class="social-list">
            <li class="social-list__item">
              <a target="_blank" href="#">
                <svg class="social-list__icon" width="20" height="20">
                  <use href="./images/sprite/icons.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
            <li class="social-list__item">
              <a target="_blank" href="#"
                ><svg class="social-list__icon" width="20" height="20">
                  <use href="./images/sprite/icons.svg#icon-github"></use></svg
              ></a>
            </li>
            <li class="social-list__item">
              <a target="_blank" href="#"
                ><svg class="social-list__icon" width="20" height="20">
                  <use href="./images/sprite/icons.svg#icon-mail"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="card-team__item">
        <picture>
          <source
            srcset="
              ./images/developers/PrustypaVlad/prustupavlad_1200.jpg    1x,
              ./images/developers/PrustypaVlad/prustupavlad_1200@2x.jpg 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/developers/PrustypaVlad/prustupavlad_768.jpg    1x,
              ./images/developers/PrustypaVlad/prustupavlad_768@2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/developers/PrustypaVlad/prustupavlad_480.jpg    1x,
              ./images/developers/PrustypaVlad/prustupavlad_480@2x.jpg 2x
            "
            media="(min-width: 480px)"
          />
          <img
            class="card-team__img"
            src="./images/developers/PrustypaVlad/prustupavlad_480.jpg"
            alt="developer photo"
            width="200"
            loading="lazy"
          />
        </picture>

        <div class="card-team__wrap">
          <h3 class="card-member__name">Vlad Prystupa</h3>
          <p class="card-member__role">Developer</p>
          <p class="card-member__text">які завдання були закріплені</p>

          <ul class="social-list">
            <li class="social-list__item">
              <a target="_blank" href="#">
                <svg class="social-list__icon" width="20" height="20">
                  <use href="./images/sprite/icons.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
            <li class="social-list__item">
              <a target="_blank" href="#"
                ><svg class="social-list__icon" width="20" height="20">
                  <use href="./images/sprite/icons.svg#icon-github"></use></svg
              ></a>
            </li>
            <li class="social-list__item">
              <a target="_blank" href="#"
                ><svg class="social-list__icon" width="20" height="20">
                  <use href="./images/sprite/icons.svg#icon-mail"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="card-team__item">
        <picture>
          <source
            srcset="
              ./images/developers/KalynjukNadiia/KalyniukNadiia_1200.jpg    1x,
              ./images/developers/KalynjukNadiia/KalyniukNadiia_1200@2x.jpg 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/developers/KalynjukNadiia/KalyniukNadiia_768.jpg    1x,
              ./images/developers/KalynjukNadiia/KalyniukNadiia_768@2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/developers/KalynjukNadiia/KalyniukNadiia_480.jpg    1x,
              ./images/developers/KalynjukNadiia/KalyniukNadiia_480@2x.jpg 2x
            "
            media="(min-width: 480px)"
          />
          <img
            class="card-team__img"
            src="./images/developers/KalynjukNadiia/KalyniukNadiia_480.jpg"
            alt="developer photo"
            loading="lazy"
          />
        </picture>

        <div class="card-team__wrap">
          <h3 class="card-member__name">Nadiia Kalynjuk</h3>
          <p class="card-member__role">Scrum master</p>
          <p class="card-member__text">
            Розробка модального вікна з інформацією про учасників команди
          </p>

          <ul class="social-list">
            <li class="social-list__item">
              <a target="_blank" href="#">
                <svg class="social-list__icon" width="20" height="20">
                  <use href="./images/sprite/icons.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
            <li class="social-list__item">
              <a target="_blank" href="#"
                ><svg class="social-list__icon" width="20" height="20">
                  <use href="./images/sprite/icons.svg#icon-github"></use></svg
              ></a>
            </li>
            <li class="social-list__item">
              <a target="_blank" href="#"
                ><svg class="social-list__icon" width="20" height="20">
                  <use href="./images/sprite/icons.svg#icon-mail"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="card-team__item">
        <picture>
          <source
            srcset="
              ./images/developers/PavloNikolaschuk/PavloNikolaschuk_1200.jpg    1x,
              ./images/developers/PavloNikolaschuk/PavloNikolaschuk_1200@2x.jpg 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/developers/PavloNikolaschuk/PavloNikolaschuk_768.jpg    1x,
              ./images/developers/PavloNikolaschuk/PavloNikolaschuk_768@2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/developers/PavloNikolaschuk/PavloNikolaschuk_480.jpg    1x,
              ./images/developers/PavloNikolaschuk/PavloNikolaschuk_480@2x.jpg 2x
            "
            media="(min-width: 480px)"
          />
          <img
            class="card-team__img"
            src="./images/developers/PavloNikolaschuk/PavloNikolaschuk_480.jpg"
            alt="developer photo"
            loading="lazy"
          />
        </picture>

        <div class="card-team__wrap">
          <h3 class="card-member__name">Pavlo Nikolashchuk</h3>
          <p class="card-member__role">Developer</p>
          <p class="card-member__text">які завдання були закріплені</p>

          <ul class="social-list">
            <li class="social-list__item">
              <a target="_blank" href="#">
                <svg class="social-list__icon" width="20" height="20">
                  <use href="./images/sprite/icons.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
            <li class="social-list__item">
              <a target="_blank" href="#"
                ><svg class="social-list__icon" width="20" height="20">
                  <use href="./images/sprite/icons.svg#icon-github"></use></svg
              ></a>
            </li>
            <li class="social-list__item">
              <a target="_blank" href="#"
                ><svg class="social-list__icon" width="20" height="20">
                  <use href="./images/sprite/icons.svg#icon-mail"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="card-team__item">
        <picture>
          <source
            srcset="
              ./images/developers/NadiiaHolub/NadiiaHolub_1200.jpg    1x,
              ./images/developers/NadiiaHolub/NadiiaHolub_1200@2x.jpg 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/developers/NadiiaHolub/NadiiaHolub_768.jpg    1x,
              ./images/developers/NadiiaHolub/NadiiaHolub_768@2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/developers/NadiiaHolub/NadiiaHolub_480.jpg    1x,
              ./images/developers/NadiiaHolub/NadiiaHolub_480@2x.jpg 2x
            "
            media="(min-width: 480px)"
          />
          <img
            class="card-team__img"
            src="./images/developers/NadiiaHolub/NadiiaHolub_480.jpg"
            alt="developer photo"
            loading="lazy"
          />
        </picture>

        <div class="card-team__wrap">
          <h3 class="card-member__name">Nadiia Holub</h3>
          <p class="card-member__role">Developer</p>
          <p class="card-member__text">які завдання були закріплені</p>

          <ul class="social-list">
            <li class="social-list__item">
              <a target="_blank" href="#">
                <svg class="social-list__icon" width="20" height="20">
                  <use href="./images/sprite/icons.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
            <li class="social-list__item">
              <a target="_blank" href="#"
                ><svg class="social-list__icon" width="20" height="20">
                  <use href="./images/sprite/icons.svg#icon-github"></use></svg
              ></a>
            </li>
            <li class="social-list__item">
              <a target="_blank" href="#"
                ><svg class="social-list__icon" width="20" height="20">
                  <use href="./images/sprite/icons.svg#icon-mail"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="card-team__item">
        <picture>
          <source
            srcset="
              ./images/developers/VitaliyGrycun/vitaliyhrycun_1200.jpg    1x,
              ./images/developers/VitaliyGrycun/vitaliyhrycun_1200@2x.jpg 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/developers/VitaliyGrycun/vitaliyhrycun_768.jpg    1x,
              ./images/developers/VitaliyGrycun/vitaliyhrycun_768@2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/developers/VitaliyGrycun/vitaliyhrycun_480.jpg    1x,
              ./images/developers/VitaliyGrycun/vitaliyhrycun_480@2x.jpg 2x
            "
            media="(min-width: 480px)"
          />
          <img
            class="card-team__img"
            src="./images/developers/VitaliyGrycun/vitaliyhrycun_480.jpg"
            alt="developer photo"
            loading="lazy"
          />
        </picture>

        <div class="card-team__wrap">
          <h3 class="card-member__name">Vitaliy Hrycun</h3>
          <p class="card-member__role">Developer</p>
          <p class="card-member__text">які завдання були закріплені</p>

          <ul class="social-list">
            <li class="social-list__item">
              <a target="_blank" href="#">
                <svg class="social-list__icon" width="20" height="20">
                  <use href="./images/sprite/icons.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
            <li class="social-list__item">
              <a target="_blank" href="#"
                ><svg class="social-list__icon" width="20" height="20">
                  <use href="./images/sprite/icons.svg#icon-github"></use></svg
              ></a>
            </li>
            <li class="social-list__item">
              <a target="_blank" href="#"
                ><svg class="social-list__icon" width="20" height="20">
                  <use href="./images/sprite/icons.svg#icon-mail"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="card-team__item">
        <picture>
          <source
            srcset="
              ./images/developers/OleksiySavka/OleksiySavka_1200.jpg    1x,
              ./images/developers/OleksiySavka/OleksiySavka_1200@2x.jpg 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/developers/OleksiySavka/OleksiySavka_768.jpg    1x,
              ./images/developers/OleksiySavka/OleksiySavka_768@2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/developers/OleksiySavka/OleksiySavka_480.jpg    1x,
              ./images/developers/OleksiySavka/OleksiySavka_480@2x.jpg 2x
            "
            media="(min-width: 480px)"
          />
          <img
            class="card-team__img"
            src="./images/developers/OleksiySavka/OleksiySavka_480.jpg"
            alt="developer photo"
            loading="lazy"
          />
        </picture>

        <div class="card-team__wrap">
          <h3 class="card-member__name">Oleksiy Savka</h3>
          <p class="card-member__role">Developer</p>
          <p class="card-member__text">які завдання були закріплені</p>

          <ul class="social-list">
            <li class="social-list__item">
              <a target="_blank" href="#">
                <svg class="social-list__icon" width="20" height="20">
                  <use href="./images/sprite/icons.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
            <li class="social-list__item">
              <a target="_blank" href="#"
                ><svg class="social-list__icon" width="20" height="20">
                  <use href="./images/sprite/icons.svg#icon-github"></use></svg
              ></a>
            </li>
            <li class="social-list__item">
              <a target="_blank" href="#"
                ><svg class="social-list__icon" width="20" height="20">
                  <use href="./images/sprite/icons.svg#icon-mail"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="card-team__item">
        <picture>
          <source
            srcset="
              ./images/developers/DmytrijKlysha/DmitriyKlysha_1200.jpg    1x,
              ./images/developers/DmytrijKlysha/DmitriyKlysha_1200@2x.jpg 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/developers/DmytrijKlysha/DmitriyKlysha_768.jpg    1x,
              ./images/developers/DmytrijKlysha/DmitriyKlysha_768@2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/developers/DmytrijKlysha/DmitriyKlysha_480.jpg    1x,
              ./images/developers/DmytrijKlysha/DmitriyKlysha_480@2x.jpg 2x
            "
            media="(min-width: 480px)"
          />
          <img
            class="card-team__img"
            src="./images/developers/DmytrijKlysha/DmitriyKlysha_480.jpg"
            alt="developer photo"
            loading="lazy"
          />
        </picture>

        <div class="card-team__wrap">
          <h3 class="card-member__name">Dmytriy Klysha</h3>
          <p class="card-member__role">Developer</p>
          <p class="card-member__text">які завдання були закріплені</p>

          <ul class="social-list">
            <li class="social-list__item">
              <a target="_blank" href="#">
                <svg class="social-list__icon" width="20" height="20">
                  <use href="./images/sprite/icons.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
            <li class="social-list__item">
              <a target="_blank" href="#"
                ><svg class="social-list__icon" width="20" height="20">
                  <use href="./images/sprite/icons.svg#icon-github"></use></svg
              ></a>
            </li>
            <li class="social-list__item">
              <a target="_blank" href="#"
                ><svg class="social-list__icon" width="20" height="20">
                  <use href="./images/sprite/icons.svg#icon-mail"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>

      <li class="card-team__item">
        <picture>
          <source
            srcset="
              ./images/developers/PavloZiuskin/PavloZiuskin_1200.jpg    1x,
              ./images/developers/PavloZiuskin/PavloZiuskin_1200@2x.jpg 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/developers/PavloZiuskin/PavloZiuskin_768.jpg    1x,
              ./images/developers/PavloZiuskin/PavloZiuskin_768@2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/developers/PavloZiuskin/PavloZiuskin_480.jpg    1x,
              ./images/developers/PavloZiuskin/PavloZiuskin_480@2x.jpg 2x
            "
            media="(min-width: 480px)"
          />
          <img
            class="card-team__img"
            src="./images/developers/PavloZiuskin/PavloZiuskin_480.jpg"
            alt="developer photo"
            loading="lazy"
          />
        </picture>

        <div class="card-team__wrap">
          <h3 class="card-member__name">Pavlo Ziuskin</h3>
          <p class="card-member__role">Developer</p>
          <p class="card-member__text">які завдання були закріплені</p>

          <ul class="social-list">
            <li class="social-list__item">
              <a target="_blank" href="#">
                <svg class="social-list__icon" width="20" height="20">
                  <use href="./images/sprite/icons.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
            <li class="social-list__item">
              <a target="_blank" href="#"
                ><svg class="social-list__icon" width="20" height="20">
                  <use href="./images/sprite/icons.svg#icon-github"></use></svg
              ></a>
            </li>
            <li class="social-list__item">
              <a target="_blank" href="#"
                ><svg class="social-list__icon" width="20" height="20">
                  <use href="./images/sprite/icons.svg#icon-mail"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="card-team__item">
        <picture>
          <source
            srcset="
              ./images/developers/VasylMelnyk/VasylMelnyk-des-1x.jpg 1x,
              ./images/developers/VasylMelnyk/VasylMelnyk-des-2x.jpg 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/developers/VasylMelnyk/VasylMelnyk-tab-1x.jpg 1x,
              ./images/developers/VasylMelnyk/VasylMelnyk-tab-2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/developers/VasylMelnyk/VasylMelnyk-mob-1x.jpg 1x,
              ./images/developers/VasylMelnyk/VasylMelnyk-mob-2x.jpg 2x
            "
            media="(min-width: 480px)"
          />
          <img
            class="card-team__img"
            src="./images/developers/VasylMelnyk/VasylMelnyk-mob-1x.jpg"
            alt="developer photo"
            loading="lazy"
          />
        </picture>

        <div class="card-team__wrap">
          <h3 class="card-member__name">Vasyl Melnyk</h3>
          <p class="card-member__role">Developer</p>
          <p class="card-member__text">які завдання були закріплені</p>

          <ul class="social-list">
            <li class="social-list__item">
              <a
                target="_blank"
                href="https://www.linkedin.com/in/vasyl-melnyk-80155b264/"
              >
                <svg class="social-list__icon" width="20" height="20">
                  <use href="./images/sprite/icons.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
            <li class="social-list__item">
              <a target="_blank" href="https://github.com/Vasamel"
                ><svg class="social-list__icon" width="20" height="20">
                  <use href="./images/sprite/icons.svg#icon-github"></use></svg
              ></a>
            </li>
            <li class="social-list__item">
              <a target="_blank" href="#"
                ><svg class="social-list__icon" width="20" height="20">
                  <use href="./images/sprite/icons.svg#icon-mail"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</div>
