<section class="filmoteka films">
  <div class="container">
    <h1 class="visually-hidden">Filmoteka</h1>

    <div class="films__not-correct-notification">
      Write the correct title of the movie.
    </div>
    <ul class="filter-list-bnt">
      <li>
        <button
          type="button"
          class="movies-section-btn get-now-playing-js confetti-button"
        >
          Now Playing
        </button>
      </li>
      <li>
        <button
          type="button"
          class="movies-section-btn get-popular-js confetti-button"
        >
          Popular
        </button>
      </li>
      <li>
        <button
          type="button"
          class="movies-section-btn get-top-rated-js confetti-button"
        >
          Top Rated
        </button>
      </li>
      <li>
        <button
          type="button"
          class="movies-section-btn get-upcoming-js confetti-button"
        >
          Upcoming
        </button>
      </li>
    </ul>
    <ul class="films__list js-films-list" data-modal-open>
      <li class="films__error">
        <!-- <img src="./images/error-start-page.jpg" alt="Sorry No Results Found" /> -->
      </li>
    </ul>

    <div class="films__no-movies-notification">
      Sorry, there are no movies matching your search query.
    </div>
    <img
      loading="lazy"
      class="films__error-img visually-hidden"
      src="./images/no-results.png"
      alt="Sorry No Results Found"
    />
  </div>
</section>
<section>
  <h2 class="visually-hidden">Filmoteka</h2>
  <div class="js-pagination">
    <button class="btn-incremention js-btn__minusQuery" type="button">
      <svg class="js-pagination__arrow" width="16" height="16">
        <use href="././images/sprite/icons.svg#icon-arrow-left"></use>
      </svg>
    </button>
    <button class="js-pagination--firstPage btn btn-pagination" type="button">
      1
    </button>

    <button class="btn-decrement-ten btn--ten">...</button>
    <div class="js-pagination__page">
      <button
        class="js-pagination--minus2Page btn btn-pagination"
        type="button"
      >
        2
      </button>
      <button
        class="js-pagination--minus1Page btn btn-pagination"
        type="button"
      >
        3
      </button>
      <button class="js-pagination--activPage btn btn-pagination" type="button">
        4
      </button>
      <button class="js-pagination--plus1Page btn btn-pagination" type="button">
        5
      </button>
      <button class="js-pagination--plus2Page btn btn-pagination" type="button">
        6
      </button>
    </div>
    <button class="btn-increment-ten btn--ten">...</button>

    <button class="js-pagination--lastPage btn btn-pagination" type="button">
      7
    </button>
    <button class="btn-incremention js-btn__plusQuery" type="button">
      <svg class="js-pagination__arrow" width="16" height="16">
        <use href="././images/sprite/icons.svg#icon-arrow-right"></use>
      </svg>
    </button>
  </div>
</section>
