<div class="backdrop is-hidden">
  <div class="registration-modal">
    <button type="button" class="btn-close" data-modal-close-registr>
      <svg class="icon-close" width="30" height="30">
        <use href="./images/icon-close-modal.svg#icon-close-modal"></use>
      </svg>
    </button>

    <form name="registration-form" autocomplete="on">
      <strong class="registration-form-title">Sign in</strong>
      <div class="registration-form-group" role="group">
        <label class="registration-form-field">
          <span class="registration-form-label">Email</span>
          <input
            class="registration-form-input"
            type="email"
            name="user-mail"
          />
        </label>

        <label class="registration-form-field">
          <span class="registration-form-label">Password</span>
          <input
            class="registration-form-input"
            type="password"
            name="user-password"
          />
        </label>
      </div>

      <a class="registration-form-support" href="#"
        >Having trouble signing in?</a
      >

      <button type="submit" class="registration-form-btn">Sign in</button>
    </form>
  </div>
</div>
