<div class="backdrop-registr is-hidden">
  <div class="registr-modal">
    <button type="button" class="btn-close" data-modal-close-registr>
      <svg class="icon-close" width="30" height="30">
        <use href="./images/icon-close-modal.svg#icon-close-modal"></use>
      </svg>
    </button>

    <div class="register-modal__wrapper">
      <button
        type="button"
        class="main-btn main-btn--register"
        data-modal-sign-in-google
      >
        <svg class="register-modal__btn-icon" width="30" height="30">
          <use href="./images/sprite/icons.svg#google-icon"></use>
        </svg>
        Sign-in with Google
      </button>
      <button
        type="button"
        disabled
        class="main-btn--register"
        data-modal-sign-in-email
      >
        <svg class="register-modal__btn-icon" width="30" height="30">
          <use href="./images/sprite/icons.svg#email-icon"></use>
        </svg>
        Sign-in with email
      </button>
    </div>
  </div>
</div>
